In [2]:
import pandas as pd
import numpy as np

При взаимном лайке возникает возможность общения 

Для упращения можно допустить: если rating >=6, то это лайк, иначе - дизлайк

Необходимо написать код, который поможет найти для следуюших пользователей, которые они с максимальной вероятностью залайкают (за вычетом известных в датасете пар). Для каждого id - не более 10 пользователей

id: 98447, 111944, 111930, 82091, 125299, 125298, 17335, 60356

In [3]:
# В датасете данные, как пользователь с id_from оценил (rating) пользователя id_to
df_ratings = pd.read_csv("edges/rec-libimseti-dir.edges", delim_whitespace=True, skiprows=1, names=["id_from", "id_to", "rating"])

In [4]:
# В датасете данные о пользователе 
# 1ая колонка id
# 2ая колонка gender: "M" - male, "F" - female,  "U" - unknown
# по остальным колонкам недоступна информация
df_info = pd.read_csv('edges/info.csv')

In [5]:
df_info

,Unnamed: 0,id,gender,1,2,3,4,5,6,7,8,9,10,11,12
0,0,1,F,1,45,90,15,8,13,63,57,96,42,87,0.934487
1,1,2,F,1,46,81,6,9,31,22,79,82,75,53,0.675761
2,2,3,U,4,69,64,2,18,44,54,80,50,89,38,0.927339
3,3,4,F,3,46,90,9,42,54,59,86,60,65,25,0.176650
4,4,5,F,3,79,83,1,45,57,1,58,34,23,33,0.553003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220965,220965,220966,U,5,26,65,5,7,18,18,31,65,55,50,0.201921
220966,220966,220967,U,1,85,60,16,30,53,60,53,15,37,58,0.624036
220967,220967,220968,U,1,70,73,22,33,57,88,23,2,22,86,0.867339
220968,220968,220969,U,2,40,45,21,28,27,96,75,77,60,48,0.144322
220969,220969,220970,U,3,51,84,0,54,13,73,4,93,59,9,0.321523